body {
  margin: 0 0;
  background-color: black;
}
.score {
  margin: 5 5;
  position: fixed;
  color: azure;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 600;
  text-transform: capitalize;
  user-select: none;
}
.containner {
  position: fixed;
  inset: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.innerContainner {
  width: 100%;
  max-width: 28rem;
  background-color: white;
  padding: 30px;
  border-radius: 15px;
  text-align: center;
}

.innerContainner h2 {
  font-size: 2.25rem;
  line-height: 2.5rem;
  font-weight: 700;

  line-height: 1;
}
.innerContainner p {
  font-weight: 300;
  color: gray;
}

.innerContainner div {
  padding: 10px;
}
.innerContainner button {
  background-color: rgb(59 130 246);
  color: white;
  width: 100%;
  border-radius: 10px;
  padding: 5;
  margin-top: 5px;
  /* transition: transform 0.2s ease-in-out 0.2s ease-in-out; */
}
/* .innerContainner button:hover {
  border-radius: 100px;
} */
